<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome!</title>
	</head>

	<body>
    <div class="py-8 bg-gray-200 min-h-screen">
		<nav class="flex justify-center space-x-10 pb-10">
			<a href="/" class="font-bold text-gray-800 hover:text-gray-900">Home</a>
			<a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900">Pricing</a>
			<a href="/blog" class="font-medium text-gray-500 hover:text-gray-900">Blog</a>
			<a href="/login" class="font-medium text-gray-500 hover:text-gray-900">Login</a>
			<a href="/signup" class="font-medium text-white hover:bg-blue-600 bg-blue-500 px-3 py-2 -mt-2 rounded-lg">Sign up</a>
		</nav>

      <div class="mt-15 mx-auto text-center max-w-3xl px-7">
	<p class="mt-2 text-2xl font-extrabold text-gray-900 tracking-tight pb-4">
		Samsung TAH4205 wireless 
	</p>
	<img src="https://cdn.istyle.im/images/product/web/70/58/97/00/0/000000975870_01_800.jpg" alt="Tah 4205 Headphones" width="550" class="mt-15 mx-auto text-center max-w-3xl px-7">

	<div class="mt-12 grid gap-8 grid-cols-1 md:grid-cols-2">
		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Listen that bass</h3>
			<p class="mt-5 text-gray-500">
				Rock your sounds with bigger bass. These wireless on-ear headphones boast a BASS boost button, so you can pump it up whenever you like. You get up to 29 hours of play time, quick charging and stylish matte colours to choose from.
			</p>
		</div>

		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">29 hours of usb charging</h3>
			<p class="mt-5 text-gray-500">
				You get up to 29 hours of play time from a 2 hour charge via USB-C. If you start running low on power, a quick 15 minute charge will keep the music playing for another 4 hours.
			</p>
		</div>
		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Automatic Bluetooth</h3>
			<p class="mt-5 text-gray-500">
				One long press of the multi-function button gets these wireless Bluetooth headphones ready to pair. Once they're paired, the headphones remember the last device they were paired with.
			</p>
		</div>
		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Compact</h3>
			<p class="mt-5 text-gray-500">
				Real compact foldable, which is excellent for travel and lets you take your music anywhere.
			</p>
		</div>			
	</div>
</div>

	<footer class="mt-20 pt-12 border-t-2 border-gray-300">
	<nav class="flex justify-center pb-10 space-x-10">
		<a href="/" class="font-medium text-gray-500 hover:text-gray-900">Home</a>
		<a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900">Pricing</a>
		<a href="/blog" class="font-medium text-gray-500 hover:text-gray-900">Blog</a>
	</nav>
	<p class="text-center text-gray-400">
		&copy; 2021 Great Tool. All rights reserved.
	</p>
	</footer>
	
	</div>
	</body>
</html>
